/**
 * 引入变量定义
 * 注意：根据你的目录结构，路径通常指向 0-settings/_variables.scss
 */
@import "../0-settings/variables" as *;

/**
 * Shared declarations for certain elements.
 */

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 32px;
}


/**
 * Consistent indentation for lists.
 */

ul, ol,
dd {
  /* 现在可以正常识别 $base-spacing-unit 了 */
  margin-left: $base-spacing-unit;
}

ul, ol {
  li {
    margin-bottom: 10px;
  }
}
