<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.data.settings.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <script>
    {% if site.data.settings.color_scheme == "auto" %}
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    }
    {% elsif site.data.settings.color_scheme == "light" %}
      document.documentElement.setAttribute("light", "");
      document.documentElement.classList.add('light-mode');
    {% elsif site.data.settings.color_scheme == "dark" %}
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    {% else %}
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    }
    {% endif %}
  </script>

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
</head>