name: 构建前端
2on:
3  push:  # 指定触发事件
4    branches:
5      - main  # 指定触发 action 的分支
6
7jobs:
8  main:
9    runs-on: ubuntu-latest
10    steps:
11
12    # 拉取github仓库代码
13    - name: Checkout
14      uses: actions/checkout@v2
15      with:
16        persist-credentials: false
17
18    # 执行依赖安装
19    - name: 安装依赖
20      run: |
21          npm install
22        
23    # 执行构建步骤
24    - name: 构建
25      run: |
26          npm run build
27
28    # 执行部署
29    - name: 部署
30      uses: JamesIves/github-pages-deploy-action@releases/v3 # 这个action会根据配置自动推送代码到指定分支
31      with:
32        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }} # 指定密钥，即在第一步中设置的
33        BRANCH: gh-pages  ##指定推送到的远程分支
34        FOLDER: docs # 指定构建之后要推送哪个目录的代码 如这里vuepress构建之后到产物在 docs 文件夹中
